/* Main Content Styling for "About Us" page */

main {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #353535;
    border-radius: 10px;
    border: 1px solid white;
}
main:hover {
    background-color: #d5591b;
    box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.6);
    color: black;
}




h1 {
    font-size: 2.5em;
    color: white;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;  
}

p {
    font-size: 1em;
    color: white;
    line-height: 1.6;
    margin-bottom: 15px;
}

main:hover h1,
main:hover p {
    color: black; 
}
