
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
}

.hero-section {
    position: relative;
    width: 100%;
    overflow: hidden; 
    margin-top: 0;
    border-bottom: 1px solid white;
}

/* Main image styling */
.main-image {
    width: 100%;
    height: 500px; 
    object-fit: cover;
    object-position: center bottom;
    display: block;
    margin: 0;
}

/* h1 styling */
#main-title {
    font-size: 5em;  
    background-color: rgba(0, 0, 0, 0.5);  
    padding: 10px 0;  
    width: 100%;  
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;  
    z-index: 1; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}
 /*For Kids Section*/ 

#for-kids {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#for-kids h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#for-kids p {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(107, 107, 107, 0.5);
    max-width: 1000px;
    border-radius: 10px;


}

#for-kids p br {
    content: "\00a0"; 
    display: block;
    margin-bottom: 10px; 
}

/*For Teachers Section*/


#for-teachers h2 {
    text-align: center;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px; 
    max-width: 1200px; 
    margin: 0 auto; 
}


.content, .image {
    flex: 1; 
    min-width: 300px; 
}

.content p {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(107, 107, 107, 0.5);
    max-width: 1000px;
    border-radius: 10px;
    
}

.image img {
    max-width: 100%;
    height: auto;
}

/*For Reasearchers Section*/ 

#for-researchers {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#for-researchers h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#for-researchers p {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(107, 107, 107, 0.5);
    max-width: 1000px;
    border-radius: 10px;
}

.researcher-image {
    width: 80%;  
    max-width: 1000px;
    margin-top: 0px;
}












  
