#buy-tickets {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; 
    width: 100%;
    max-width: 500px;
    background-color: #353535;
    margin-bottom: 20px;
    border-radius: 10px;
}

#buy-tickets h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#ticket-form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="number"],
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

input[type="date"] {
    font-size: 18px; 
    width: 100%; 
    height: 40px; 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


#purchase-label {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: black;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;

  }
  
  #purchase-label:hover {
    background-color: #0056b3;

  }
  
 
  .hidden-checkbox {
    display: none;
  }
  
  
  #confirmation {
    display: none;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
    color: black;
    border-radius: 5px;
  }
  
  
  #purchase-confirm:checked ~ #confirmation {
    display: block;
  }


#contact {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh; 
    background-color: #353535;
    margin-top:20px ;
    border-radius: 10px;

}

#contact h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#contact ul {
    list-style: none;
    padding: 0;
}

#contact li {
    margin-bottom: 10px;
}

#contact a {
    text-decoration: none;
    color: #007bff;
}

#contact a:hover {
    text-decoration: underline 1px solid white;
}


