/* Section Styles */
#cosmonology, #evolution, #biology-and-medicine, #ecology, #robotics-ai {
  background-color: #353535; 
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0px 4px 12px rgb(251, 251, 251), 0 -4px 12px rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%; 
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

/* Section headers */
#cosmonology h2, #evolution h2, #biology-and-medicine h2, #ecology h2, #robotics-ai h2 {
  color: white;
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 15px; 
  text-align: center;
}

/* Section titles */
#cosmonology #main-title, #evolution #main-title, #biology-and-medicine #main-title, #ecology #main-title, #robotics-ai #main-title {
  color: #d5591b; 
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/* Paragraphs */
#cosmonology p, #evolution p, #biology-and-medicine p, #ecology p, #robotics-ai p {
  color: white;
  font-size: 1em;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  line-height: 1.6;
}

/* Links */
#cosmonology a, #evolution a, #biology-and-medicine a, #ecology a, #robotics-ai a {
  color: black; 
  text-decoration: none;
  transition: 0.3s; 
}

#cosmonology a:hover, #evolution a:hover, #biology-and-medicine a:hover, #ecology a:hover, #robotics-ai a:hover {
  text-decoration: underline;
}

/* Image styles */
#cosmonology img, #evolution img, #biology-and-medicine img, #ecology img, #robotics-ai img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 5px rgba(251, 251, 251, 0.3);
  border-radius: 5px; 
}


