.header {
    position: relative;
}

.header-overlay-container {
    position: relative;
}

.header-img {
    flex: content;
    width: 100%;
    display: block;
    max-height: 350px;
    overflow: hidden;
}


.logo, nav {
    position: absolute;
    color: white;
    z-index: 1;
}

.logo {
    font-size: 2em;
    top: 20px; 
    left: 20px; 
    transform: none; 
}

.logo span {
    display: inline-block;
}

.logo span::first-letter {
    font-size: 1.5em;
    
  }
  

nav {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    z-index: 1;
    
}


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: background 0.3s ease;
}

nav a:hover {
    background-color: rgba(77, 75, 75, 0.5);
}

.extras { 
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;

}


.search {
    display: inline-block; 
}

.buy-tickets {
    display: block;
    margin-top: 10px; /
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-tickets:hover {
    background-color: rgba(0,0,0,0.7);
}

.buy-tickets:hover {

    background-color: rgba(0, 0, 0, 0.7);
} 



