.header-img-container {
    background-image: url('images/celso-405219.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0; 
    position: relative;
    height: 250px; 
    margin-bottom: 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: none;
    border-right: none;
}

.header-img {
    display: none; 
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}
.logo span {
    display: block;
    text-align: left;
    color: #fff;
    line-height: 0.3;
    
}
.logo span::first-letter {
    font-size: 2em;
}
.logo a, 
.logo a:hover, 
.logo a:focus {
    text-decoration: none;
}



 .menu {
    list-style-type: none;
    display: flex;
    gap: 0px; 
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}


.menu li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px; 
    transition: background-color 0.3s ease;
}
.menu li a:hover {
    color: #d5591b; 
    transition: color 0.3s ease;
}

.logo a span:hover {
    color: #d5591b;
    transition: color 0.3s ease;
}


.search {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}
.search input {
    padding: 5px;
    margin-top: 10px;
}

.extras {
    position: absolute;
    bottom: 33px;
    right: 20px;
    z-index: 2;
}

.buy-tickets {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 0 5px #fff;
    text-decoration: none;
}


.buy-tickets:hover {
    background-color: #d5591b; 
}

nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); 

}
