@media screen and (max-width: 767px) {
  body {
      font-size: 14px;
  }
  .header {
    display: flex;
    justify-content: flex-start;  
  }
 
  .header-img-container {
      height: 200px;
  }

  .main-image {
      height: 400px;
  }

  .kid-reading {
      height: 200px;
  }

  .buy-tickets {
      font-size: 10px;
      padding: 5px 10px;
  }

  .logo span {
      font-size: 10px;
      margin-top: -10px;
  }

  .footer-content {
    font-size: 12px; 
    flex-direction: column; 
}

.footer-logo p {
    font-size: 14px; 
    line-height: 1.2; 
}

.social-media-links {
    gap: 20px; 
}


.social-media-links a {
    font-size: 24px; 
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.menu a {
  font-size: 12px; 
}

nav[role="navigation"] {
  text-align: left; 
  width: 100%; 
  padding: 10px 0;
}
}


@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
      font-size: 16px;
  }

  .header-img-container {
      height: 300px;
  }

  .main-image {
      height: 600px;
  }
}


@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header-img-container {
      height: 400px;
  }

  .main-image {
      height: 800px;
  }
}


@media screen and (min-width: 1200px) {
  body {
      font-size: 18px;
  }

  .header-img-container {
      height: 500px;
  }

  .main-image {
      height: 1000px;
  }
}

  
  
  