@media screen and (max-width: 767px) {
  body {
      font-size: 14px;
  }
  .header {
    display: flex;
    justify-content: flex-start;  
  }
 
  .header-img-container {
      height: 200px;
  }

  .main-image {
      height: 400px;
  }

  .kid-reading {
      height: 450px;
  }
  

  .buy-tickets {
    display: none;
  }

  .logo span {
      font-size: 10px;
      margin-top: -10px;
  }

  .footer-content {
    font-size: 12px; 
    flex-direction: column; 
}

.footer-logo p {
    font-size: 14px; 
    line-height: 1.2; 
}

.social-media-links {
    gap: 20px; 
}


.social-media-links a {
    font-size: 24px; 
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}



.menu a {
  font-size: 12px; 
}

nav[role="navigation"] {
  text-align: left; 
  width: 100%; 
  padding: 10px 0;
}

#main-title {
  font-size: 3rem;
}

.bottom-sections section {
  padding: 10px;
  margin: 0;
}


#location .location-text,
#location .location-images {
  text-align: center;
}
.bottom-sections {
  flex-direction: column;
}

#location {
  flex-direction: column;
  align-items: center;
}

#location .location-images .building-image {
  margin-top: 20px;
}


  /* Contact/Buy tickets */
  #buy-tickets {
    width: 100%;
    max-width: none;
    margin: 10px auto; 
    padding: 10px; 
  }
  
  #ticket-form label {
    text-align: left;
  }
  
  #ticket-form input[type="date"] {
    font-size: 18px;
    height: auto;
  }
  
  
  #contact {
    margin-top: 10px; 
    padding: 10px; 
  }
}






