




/*styles links*/

@import 'header.css'; 
@import 'home-page.css';
@import 'media.queries.css';
@import 'footer.css';







/*1. Fonts*/ 

@font-face {
    font-family: 'Noto Serif';
    src: url('fonts/Noto_Serif/static/NotoSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 2. Global Styles */



body {
    font-family: 'Noto Serif', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color:white;  
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}










