

#support h1 {
    font-size: 2.5em;
    color: white;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.support-item {
    background-color: #353535;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center; 
    max-width: 400px;
    box-shadow: 0px 4px 12px rgb(251, 251, 251), 0 -4px 12px rgba(255, 255, 255, 0.3);
}

.support-item h2 {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

.support-item:hover h2,
.support-item:hover p {
    color: black; /* Change text color to black when hovering */
}

.support-item p { 
    font-size: 1em;
    color: white;
    line-height: 1.6;
    margin-bottom: 15px;
}

.support-item:hover {
    background-color: #d5591b;
    transition: background-color 0.3s ease;
}
