.hero-section {
    position: relative;
    height: 500px; 
}

.main-image {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
    object-position: center 60%;
}

/*Location section styles*/
#location {
    display: flex;          
    align-items: center;     
    padding: 20px 0; 
    margin-left: auto;
    max-width: 100%;     
}

.location-images {
    flex: 1;                 
    padding-right: 20px;     
}

.location-text {
    flex: 1;                 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #353535; 
    border-radius: 8px;     
    padding: 10px; 
    margin-right: 20px; 
    border: 1px solid white;
}

.location-text h2  {
    text-align: left;  
    border-bottom: 1px solid #e0e0e0;   
}

.location-images {
    width: 100%;
}

.location-media {
    width: 100%; 
    border-radius: 8px; 
    margin-bottom: 20px; 
    display: block; 
}

.location-media iframe {
    height: auto; 
    
}


.bottom-sections {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px; 
  }
  
  .bottom-sections section {
    flex: 1; 
    background-color: #353535;
    border-radius: 8px;
    padding: 15px;
   
    border: 1px solid white;
    text-align: center; 
    margin:20px
    
  }

  .bottom-sections section h2 {
    border-bottom: 1px solid white; 
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  